        </div>
        <script type="text/javascript">
$(document).ready(function() {
    $('.ajax-form').ajaxForm({
        beforeSubmit: function(data, $form, opts) {
            $form.find('button[type="submit"]').prop('disabled', true);
        },

        success: function (responseText, statusText, xhr, $form) {
            $form.find('button[type="submit"]').prop('disabled', false);

            if (responseText.success) {
                $form.find('.result').html(responseText.result)
            } else {
                if (responseText.error) {
                    $form.find('.result').html(responseText.error);
                }
            }
        },

        error: function (xhr, statusText,   responseText, $form) {
            $form.find('button[type="submit"]').prop('disabled', false);

            $form.find('.result').html(statusText + ": " + responseText);
        },

        dataType: 'json'
    });
});
        </script>
    </body>
</html>