{if="!empty($form.header)"}
    {include="$form.header"}
{/if}

<form role="form" class="ajax-form form-horizontal" name="form-{$form.namespace}" action="ajax/{$form.action}" method="POST">
    <input type="hidden" name="submit" value="true">

    {loop="$form.fields"}
        <div class="form-group">
            <label for="form-{$form.namespace}-{$value.id}" class="col-lg-2 control-label">{$value.label}</label>
            <div class="col-lg-10">
                {if="$value.tag == 'input'"}
                    <input type="text" class="form-control" id="form-{$form.namespace}-{$value.id}" name="{$value.name}" placeholder="{$value.placeholder}" />
                {elseif="$value.tag == 'textarea'"}
                    <textarea id="form-{$form.namespace}-{$value.id}" name="{$value.name}" class="form-control" placeholder="{$value.placeholder}"></textarea>
                {elseif="$value.tag == 'checkboxes'"}
                    {loop="$value.checkboxes"}
                        <div class="checkbox">
                            <label for="form-{$form.namespace}-{$value.id}">
                                <input type="checkbox" name="flags[]" id="form-{$form.namespace}-{$value.id}" value="{$value.value}">
                                {$value.label}
                            </label>
                        </div>
                    {/loop}
                {/if}
            </div>
        </div>
    {/loop}



    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Result</label>
        <div class="col-lg-10">
            <pre class="result"></pre>
        </div>
    </div>
</form>