{include="base-top"}

<p>
    <a href="medias/pdf/php_pcre_cheat_sheat.pdf">PCRE cheat sheet</a>
</p>

<form role="form" class="ajax-form form-horizontal" id="form-preg-match-all" action="ajax/regex-preg-match-all.php" method="POST">
    <div class="form-group">
        <label for="form-preg-match-all-pattern" class="col-lg-2 control-label">Pattern</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="form-preg-match-all-pattern" name="pattern" placeholder="/^$/">
        </div>
    </div>

    <div class="form-group">
        <label for="form-preg-match-all-subject" class="col-lg-2 control-label">Subject</label>
        <div class="col-lg-10">
            <textarea id="form-preg-match-all-subject" name="subject" class="form-control" placeholder="Subject"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Flags</label>
        <div class="col-lg-10">
            <div class="checkbox">
                <label for="form-preg-match-all-flag-pattern-order">
                    <input type="checkbox" name="flags[]" id="form-preg-match-all-flag-pattern-order" value="{$preg_flag_pattern_order}">
                    PREG_PATTERN_ORDER
                </label>
            </div>
            <div class="checkbox">
                <label for="form-preg-match-all-flag-set-order">
                    <input type="checkbox" name="flags[]" id="form-preg-match-all-flag-set-order" value="{$preg_flag_set_order}">
                    PREG_SET_ORDER
                </label>
            </div>
            <div class="checkbox">
                <label for="form-preg-match-all-flag-offset-capture">
                    <input type="checkbox" name="flags[]" id="form-preg-match-all-flag-offset-capture" value="{$preg_flag_offset_capture}">
                    PREG_OFFSET_CAPTURE
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Result</label>
        <div class="col-lg-10">
            <pre class="result"></pre>
        </div>
    </div>
</form>

{include="base-bottom"}