<div class="form-horizontal">
    <div class="form-group">
        <label for="form-description" class="col-lg-2 control-label">Form description</label>
        <div class="col-lg-10">
            <textarea class="form-control" id="form-description">{$dynamic_form}</textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary" id="form-description-update">Update</button>
        </div>
    </div>
</div>
<hr>

<form role="form" class="form-horizontal" id="form-inout" action="ajax/form-inout.php" method="POST">
    <div id="dynamic-form"></div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Sended data</label>
        <div class="col-lg-10">
            <pre class="result-sended-data"></pre>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Received data</label>
        <div class="col-lg-10">
            <pre class="result-received-data"></pre>
        </div>
    </div>
</form>

<script type="text/javascript">
var updateForm = function(formData, outSelector) {
    var $out = $(outSelector);

    $out.empty();
    $.each(formData, function(index, element) {
        var $formGroup = $('<div class="form-group"></div>');
        $out.append($formGroup);

        var $label = $('<label class="col-lg-2 control-label"></label>');
        $formGroup.append($label);

        var $inputContainer = $('<div class="col-lg-10"></div>');
        $formGroup.append($inputContainer);

        var $input = $('<' + element['tag'] + '>');
        $inputContainer.append($input);
        $input.addClass('form-control');
        $input.prop('name', element['name']);


        if (element.hasOwnProperty('label')) {
            $label.html(element['label']);
        }

        if (element.hasOwnProperty('id')) {
            $input.prop('id', element['id']);
            $label.prop('for', element['id']);
        }

        if (element.hasOwnProperty('value')) {
            $input.prop('value', element['value']);
        }

        if (element.hasOwnProperty('placeholder')) {
            $input.prop('placeholder', element['placeholder']);
        }
    });
}

var formDescriptionHandler = function() {
    var formDataRaw = $('#form-description').val()
    var formData = jQuery.parseJSON(formDataRaw);
    updateForm(formData, '#dynamic-form');
}

$(document).ready(function() {
    $('#form-description').change(formDescriptionHandler);
    $('#form-description-update').click(formDescriptionHandler);
    formDescriptionHandler();

    $('#form-inout').ajaxForm({
        beforeSubmit: function(data, $form, opts) {
            $form.find('button[type="submit"]').prop('disabled', true);

            $('.result-sended-data').html(JSON.stringify(data, null, 4));
        },

        success: function (responseText, statusText, xhr, $form) {
            $form.find('button[type="submit"]').prop('disabled', false);

            if (responseText.success) {
                $form.find('.result-received-data').html(responseText.result)
            } else {
                if (responseText.error) {
                    $form.find('.result-received-data').html(responseText.error);
                }
            }
        },
        dataType: 'json'
    });
});
</script>